<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../estilos.css">
	<title>Contacto</title>
</head>
<body>
		<div class="container">
       
        <div class="navbar">
            
        	<a href="../index.html" class="logo"><img src="../Media/SurHaus_Logo.png"></a>

       		<ul>
        		<li><a href="../views/noticias.html">Noticias</a></li>
            	<li><a href="#">Musica</a></li>
            	<li><a href="#">Videos</a></li>
            	<li><a href="../views/QuienesSomos.html">Quienes somos</a></li>
       	 	</ul>
       	 	<div class="redes">	
				<a href="#" class="linksocial"><img src="../Media/twitter.png"></a>
				<a href="#" class="linksocial"><img src="../Mediaface.png" ></a>
				<a href="#" class="linksocial"><img src="../Media/insta.png"></a>
				<a href="#" class="linksocial"><img src="../Media/soundcloud.png"></a>
		</div>

        </div>
		
    </div>
	<form>
		<h2>Contactanos</h2>
		<input type="text" name="Nombre" placeholder="Nombre">
		<br>
		<input type="text" name="Correo" placeholder="Correo">
		<br>
		<input type="text" name="Telefono" placeholder="Telefono">
		<br>
		<textarea name="mensaje" placeholder="Escbriba aqui su mensaje..."></textarea>
		<br>
		<input type="button" value="Enviar" id="button">
	</form>
	<footer>
		<div class="footer">
				<a href="index.html" class="logo"><img src="../Media/SurHaus_Logo.png"></a>
			<div class="footercontent">
				<ul>
					<li><a href="../views/Contacto.html" class="linkfooter">Contacto</a></li>
					<li><a href="#" class="linkfooter">Trabaja con nosotros</a></li>
					<li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
					<li><a href="#" class="linkfooter">Suscribirse</a></li>
				</ul>
			</div>		
			
			<div class="infofooter">
				<p>SurHaus - living & breathing dance music.</p>
				<p>Underwood Street, Ushuaia, Tierra del Fuego, Argentina. Tel: +44(0)7940488008</p>
				<p>Fomentando la movida fueguina</p>
			</div>
		</div>
	</footer>
</body>

