<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../estilos.css">
	<title>Noticias</title>
</head>
<body>
		<div class="container">
       
        <div class="navbar">
            
        	<a href="../index.html" class="logo"><img src="../media/SurHaus_Logo.png"></a>

       		<ul>
        		<li><a href="../views/noticias.html">Noticias</a></li>
            	<li><a href="#">Musica</a></li>
            	<li><a href="#">Videos</a></li>
            	<li><a href="../views/QuienesSomos.html">Quienes somos</a></li>
       	 	</ul>
       	 	<div class="redes">	
				<a href="#" class="linksocial"><img src="../media/twitter.png"></a>
				<a href="#" class="linksocial"><img src="../media/face.png" ></a>
				<a href="#" class="linksocial"><img src="../media/insta.png"></a>
				<a href="#" class="linksocial"><img src="../media/soundcloud.png"></a>
		</div>

        </div>
		
    </div>
	
	<div class="gridnoticias">
		<section class="noticia1">
		<h1 class="title">Noticias</h1>
		<h3>FLY OPEN AIR 2022</h3>
		<a href="../views/FLY-O-A.html"><img src="../media/fly-open-air.jpg"></a>
	</section>
	<section class="noticia2">
		<h3>Calendario de fechas SurHaus 2022</h3>
		<a href="#"><img src="../media/fechas-2022.jpg"></a>
	</section>
	</div>
	<footer>
		<div class="footer">
			<a href="index.html" class="logo"><img src="../media/SurHaus_Logo.png"></a>
			<div class="footercontent">
				<ul>
					<li><a href="../views/Contacto.html" class="linkfooter">Contacto</a></li>
					<li><a href="#" class="linkfooter">Trabaja con nosotros</a></li>
					<li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
					<li><a href="#" class="linkfooter">Suscribirse</a></li>
				</ul>
			</div>		
			<div class="infofooter">
				<p>SurHaus - living & breathing dance music.</p>
				<p>Underwood Street, Ushuaia, Tierra del Fuego, Argentina. Tel: +44(0)7940488008</p>
				<p>Fomentando la movida fueguina</p>
			</div>
		</div>
	</footer>
</body>
</html>