<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../estilos.css">
	<title>Quienes Somos</title>
</head>
<body>
		<div class="container">
       
        <div class="navbar">
            
        	<a href="../index.html" class="logo"><img src="../Media/SurHaus_Logo.png"></a>

       		<ul>
        		<li><a href="../views/noticias.html">Noticias</a></li>
            	<li><a href="#">Musica</a></li>
            	<li><a href="../views/videos.html">Videos</a></li>
            	<li><a href="../views/QuienesSomos.html">Quienes somos</a></li>
       	 	</ul>
       	 	<div class="redes">
				<a href="#" class="linksocial"><img src="../Media/twitter.png"></a>
				<a href="#" class="linksocial"><img src="../Media/face.png" ></a>
				<a href="#" class="linksocial"><img src="../Media/insta.png"></a>
				<a href="#" class="linksocial"><img src="../Media/soundcloud.png"></a>
		</div>

        </div>
		
    </div>
	<div class="quienessomos">	
		<h1>Quienes Somos</h1>
		<h3>Sur-Haush nace con la idea de crear, fusionar y compartir la cultura electrónica en el fin del mundo.</h3>
		<section>
			<article>
				<p>De la mano de Lucas Contreras y junto con la ayuda de varios dj´s locales se creo la escuela de DJ mas austral del mundo, con el fin de hacer creecer la movida de la musica electronica fueguina. Fundada en el año 2020 logro formar incontables dj´s que hoy en dia forman parte de la gran cultra fuegina, nombres como Alexny, Gaiaal'a, REM, Fela aka "Quality Thrash", y muchos otros. Luego del exito de la escuela, buscamos ampliarnos por medio de las plataformas digitales y se crea la revista SurHaus, dirigida a productores, aspirantes a DJ, promotores y amantes del EDM, en general, siendo sin duda una de las publicaciones que más fomenta el conocimiento de la escena de este género musical en la isla grande de Tierra del Fuego.</p>
				<p>En palabras de su fundador, Lucas Contreras "Sur-Haush nace con la idea de crear, fusionar y compartir la cultura electrónica en el fin del mundo." dijo en una entrevista con el canal local "Objetivo que por suerte estamos logarndo".</p>
			</article>
		</section>
	</div>
	<footer>
		<div class="footer">
				<a href="index.html" class="logo"><img src="../Media/SurHaus_Logo.png"></a>
			<div class="footercontent">
				<ul>
					<li><a href="../views/Contacto.html" class="linkfooter">Contacto</a></li>
					<li><a href="#" class="linkfooter">Trabaja con nosotros</a></li>
					<li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
					<li><a href="#" class="linkfooter">Suscribirse</a></li>
				</ul>
			</div>		
			
			<div class="infofooter">
				<p>SurHaus - living & breathing dance music.</p>
				<p>Underwood Street, Ushuaia, Tierra del Fuego, Argentina. Tel: +44(0)7940488008</p>
				<p>Fomentando la movida fueguina</p>
			</div>
		</div>
	</footer>
</body>
</html>