<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../estilos.css">
	<title>Se celebro la edicion 2022 de FLY OPEN AIR</title>
</head>
<body>
		<div class="container">
       
        <div class="navbar">
            
        	<a href="../index.html" class="logo"><img src="../Media/SurHaus_Logo.png"></a>

       		<ul>
        		<li><a href="../views/noticias.html">Noticias</a></li>
            	<li><a href="#">Musica</a></li>
            	<li><a href="../views/videos.html">Videos</a></li>
            	<li><a href="../views/QuienesSomos.html">Quienes somos</a></li>
       	 	</ul>
       	 	<div class="redes">	
				<a href="#" class="linksocial"><img src="../Media/twitter.png"></a>
				<a href="#" class="linksocial"><img src="../Media/face.png" ></a>
				<a href="#" class="linksocial"><img src="../Media/insta.png"></a>
				<a href="#" class="linksocial"><img src="../Media/soundcloud.png"></a>
		</div>

        </div>
		
    </div>
	<div class="gridvideos">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/7nPDVa3SCyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/5j3WlHaChkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/N1LJkqPpuRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/AKgmrku6KRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/K6RxmPliq2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/KT-YKy5Yas4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
		
	<footer>
		<div class="footer">
			<a href="index.html" class="logo"><img src="../Media/SurHaus_Logo.png"></a>
		<div class="footercontent">
			<ul>
				<li><a href="../views/Contacto.html" class="linkfooter">Contacto</a></li>
				<li><a href="#" class="linkfooter">Trabaja con nosotros</a></li>
				<li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
				<li><a href="#" class="linkfooter">Suscribirse</a></li>
			</ul>
		</div>		
			<div class="infofooter">
				<p>SurHaus - living & breathing dance music.</p>
				<p>Underwood Street, Ushuaia, Tierra del Fuego, Argentina. Tel: +44(0)7940488008</p>
				<p>Fomentando la movida fueguina</p>
			</div>
		</div>
	</footer>
</body>
</html>